body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: hsl(228, 100%, 84%);

  font-family: "Ubuntu-Regular", sans-serif;
}

.content-wrapper {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  max-width: 1000px;
  width: 95%;
  height: 80%;

  display: flex;
}

.content-wrapper .form-sidebar {
  flex: 1;
  background: url("../assets/images/bg-sidebar-desktop.svg") center / cover;
  border-radius: 5px;
  overflow: hidden;
  padding: 1.5rem;

  min-width: 175px;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content-wrapper .form-content {
  flex: 3;
  padding: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.content-wrapper .form-content form {
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content-wrapper .form-content .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content-wrapper .form-content .buttons button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  outline: 0;
  cursor: pointer;
}

.content-wrapper .form-content .buttons button.next-btn {
  background-color: hsl(213, 96%, 18%);
  color: #fff;
}

.content-wrapper .form-content .buttons button.prev-btn {
  background: transparent;
}

.step {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.step .step-index span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
}

.step-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}

.step-info .step-num {
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.8;
}

.step-info .step-title {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.step.active .step-index span {
  background-color: #fff;
  color: hsl(213, 96%, 18%);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.wrapper h2 {
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 2rem);
}

.wrapper p {
  font-size: clamp(0.8rem, 1vw, 1rem);
}

.wrapper .form-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.wrapper .form-group input.text-input {
  width: 100%;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 1rem;
  outline: 0;
  margin-bottom: 1rem;
}

.selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%
}

.selection-container .plans {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.selection-container .plans label span {
  width: 60px;
  aspect-ratio: 1/1;
}

.selection-container .plans label span img {
  width: 100%;
  height: 100%;
}

.selection-container .plans label.arcade span {
  background: url("../assets/images/icon-arcade.svg") no-repeat center / cover;
}
.selection-container .plans label.advanced span {
  background: url("../assets/images/icon-advanced.svg") no-repeat center / cover;
}
.selection-container .plans label.pro span {
  background: url("../assets/images/icon-pro.svg") no-repeat center / cover;
}

.selection-container .plans input[type="radio"]:checked + label {
  outline: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}

.selection-container .plans label {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 150px;
  height: 175px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.7rem;
}

.selection-container .plans label .label-texts {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.selection-container .plans label .label-texts h3 {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}

.selection-container .plans label .label-texts .label-price-text {
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.8;
}

.selection-container .plans label .label-texts .label-months {
  font-size: 0.9rem;
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}

.selection-container .plans input[type="radio"] {
  display: none;
}

.billing-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background-color: hsl(217, 100%, 97%);
  padding: 0.5rem 0;
}

.billing-time input[type="checkbox"] {
  display: none;
}

.billing-time input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  background-color: black;
}

.billing-time input[type="checkbox"] + label::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  position: absolute;
  left: 5px;
}

.billing-time input[type="checkbox"]:checked + label::after {
  left: 27.5px;
  background-color: #fff;
}

.add-ons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}

.add-ons div {
  width: 100%;
}

.add-ons input[type="checkbox"] {
  display: none;
}

.add-ons input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.8rem;
}

.add-ons input[type="checkbox"] + label span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  outline: 1px solid #ccc;
  transition: 0.3s all;
}

.add-ons input[type="checkbox"]:checked + label {
  background-color: hsl(217, 100%, 97%);
  outline: 1px solid hsl(243, 100%, 62%);
}

.add-ons input[type="checkbox"]:checked + label span {
  background: url("../assets/images/icon-checkmark.svg") no-repeat center;
  background-color: hsl(243, 100%, 62%);
  outline: 0;
}

.add-ons input[type="checkbox"] + label div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
}

.add-ons input[type="checkbox"] + label div h3 {
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.add-ons input[type="checkbox"] + label div p {
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.8;
}

.add-ons input[type="checkbox"] + label .price-text {
  margin-left: auto;
  color: hsl(243, 100%, 62%);
}

.summary-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
  background-color: hsl(217, 100%, 97%);
  padding: 1rem;
  border-radius: 5px;
}

.summary-container .plan {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-container .plan h3 {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}

.summary-container .plan .change-text {
  color: hsl(231, 11%, 63%);
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.summary-container .plan .plan-cost {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
  font-size: 1.1rem;
}

.summary-container .addons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary-container .addons .addon-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-container .addons .addon-item p {
  color: hsl(231, 11%, 63%);
  font-size: 0.8rem;
  font-weight: 500;
}

.summary-container .addons .addon-item .addon-cost {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}

.br {
  width: 100%;
  height: 1px;
  background-color: hsl(231, 11%, 63%);
  opacity: 0.2;
}

.total-cost-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.total-cost-container p {
  color: hsl(231, 11%, 63%);
  font-size: 0.8rem;
  font-weight: 500;
}

.total-cost-container .total-cost {
  color: hsl(243, 100%, 62%);
  font-weight: 700;
  font-size: 1.25rem;
}

.thank-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.thank-container .thank-icon {
  background: url("../assets/images/icon-thank-you.svg") no-repeat center /
    cover;
  width: 80px;
  height: 80px;
}

.thank-container .thank-header {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.thank-container .thank-text {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(231, 11%, 63%);
}

@media screen and (max-width: 882px) {
  .selection-container .plans {
    flex-direction: column;
    gap: 1rem;
  }
  .selection-container .plans div {
    width: 100%;
  }
  .selection-container .plans div label {
    width: 100%;
    height: 75px;
    flex-direction: row;
    gap: 1rem;
  }

  .app {
    position: relative;
  }

  .content-wrapper {
    position: relative;
    height: 70vh;
    margin-bottom: 3rem;
  }

  .content-wrapper .form-content {
    position: absolute;
    inset: 0;
    z-index:2;
    background-color: #fff;
    border-radius: 7px;
    padding: 1.5rem;
  }

  .content-wrapper .form-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: url("../assets/images/bg-sidebar-mobile.svg") no-repeat center /
      cover;
    border-radius: 0px;

    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    z-index: 1;
  }

  .content-wrapper .form-sidebar .step .step-info {
    display: none;
  }

  .content-wrapper .form-content .current-form .buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    background-color: hsl(217, 100%, 97%);
    padding: 0rem 1rem;
    z-index: 1;
  }


  
}
